<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>com.swagG.myservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sqservlet</servlet-name>
        <servlet-class>com.swagG.sqservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deafault</servlet-name>
        <servlet-class></servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginn</servlet-name>
        <servlet-class>loginn</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>loginn</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sqservlet</servlet-name>
        <url-pattern>/sq</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>demo2servlet</servlet-name>
        <servlet-class>com.swagG.demo2servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kol</servlet-name>
        <servlet-class>com.swagG.kol</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kol</servlet-name>
        <url-pattern>/for</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo2servlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>name</param-name>
        <param-value>kashish</param-value>
    </context-param>
    <context-param>
        <param-name>phone</param-name>
        <param-value>motto</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>loginn</servlet-name>
        <url-pattern>/loginn</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
